@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 80px 40px 1fr 40px / 1fr 150px;
    gap: 5px;
}

div.topo{
    background-color: lightgray;
    border: 1px solid black;
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
    padding: 10px;
}

div.menu{
    background-color: lightgray;
     border: 1px solid black;
    grid-area: 2 / 1 / 3 / -1;
    text-align: center;
    padding: 10px;

}

div.principal{
   background-color: lightgray;
    border: 1px solid black;
    grid-area: 3 / 1 / -2 / -2;
    text-align: center;
    padding: 10px;
}

div.secundario{
    background-color: lightgray;
     border: 1px solid black;
    grid-area: 3 / -2 / -2 / -1;
    text-align: center;
    padding: 10px;
}

div.rodape{
   background-color: lightgray;
    border: 1px solid black;
    grid-area: -2 / 1 / -1 / -1;
    text-align: center;
    padding: 10px;
}