@charset "UTF-8";

header > p{
    margin-top: 15px;
}

header, header > nav{
    flex-flow: column nowrap;
}

header > nav{
    text-align: center;
    display: none;
}

header > nav > a{
    margin: 5px;
    width: 90vw;
}

header > .menu{
    margin-top: 10px;
    color: rgb(105, 202, 206);
    font-size: 1.5em;
    display: inline-block;
}

/*header > .menu:hover + nav {
    display: inline-block;
}*/

header:hover > nav {
    display: inline-block;
}